pipeline/EXT - Bike All Dataset.json
{
	"name": "EXT - Bike All Dataset",
	"properties": {
		"activities": [
			{
				"name": "Set Tables",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "varFile",
					"value": [
						"1",
						"2",
						"3"
					]
				}
			},
			{
				"name": "FOR - Bike CSV to Parquet",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('varFile')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CP - Bike CSV to Parquet",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DS_GEN_CSV",
									"type": "DatasetReference",
									"parameters": {
										"rootName": {
											"value": "@pipeline().parameters.paramRoot",
											"type": "Expression"
										},
										"pathName": {
											"value": "@pipeline().parameters.paramPathRaw",
											"type": "Expression"
										},
										"fileName": {
											"value": "@item()",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DS_GEN_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"rootName": {
											"value": "@pipeline().parameters.paramRoot",
											"type": "Expression"
										},
										"pathName": {
											"value": "concat(@pipeline().parameters.paramPathSilver,'/', @item)",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"paramRoot": {
				"type": "string"
			},
			"paramPathRaw": {
				"type": "string"
			},
			"paramPathSilver": {
				"type": "string"
			}
		},
		"variables": {
			"varFile": {
				"type": "Array",
				"defaultValue": [
					"1",
					"2",
					"3"
				]
			}
		},
		"folder": {
			"name": "bike/extract"
		},
		"annotations": []
	}
}