adf-quadabra-dev/PartialArmTemplates/ArmTemplate_8_13_2021_20_40_22.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-quadabra-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_PAR_BIKE_Sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cnn_datalake_quadabra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "datalake/raw/bike"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "sales",
						"folderPath": "silver/bike/sales",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/EXT - Bike Sales Item')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "FL - Bike Sales Header",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FL - Bike Sales Header",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "FL - Bike Sales Item",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "FL - Bike Sales Header",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FL - Bike Sales Item",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"folder": {
					"name": "bike/extract"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FL - Bike Sales Header')]",
				"[concat(variables('factoryId'), '/dataflows/FL - Bike Sales Item')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FL - Bike Sales Header')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bike"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_BIKE_SalesHeader",
								"type": "DatasetReference"
							},
							"name": "src01BikeSalesHeader"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_PAR_BIKE_Sales_Header",
								"type": "DatasetReference"
							},
							"name": "snk01BikeSalesHeader"
						}
					],
					"transformations": [
						{
							"name": "dv01BikeSales"
						}
					],
					"script": "source(output(\n\t\tSALESORDERID as string,\n\t\tCREATEDBY as string,\n\t\tCREATEDAT as string,\n\t\tCHANGEDBY as string,\n\t\tCHANGEDAT as string,\n\t\tFISCVARIANT as string,\n\t\tFISCALYEARPERIOD as string,\n\t\tNOTEID as string,\n\t\tPARTNERID as string,\n\t\tSALESORG as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as string,\n\t\tTAXAMOUNT as string,\n\t\tLIFECYCLESTATUS as string,\n\t\tBILLINGSTATUS as string,\n\t\tDELIVERYSTATUS as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> src01BikeSalesHeader\nsrc01BikeSalesHeader derive(SALESORDERID = toInteger(SALESORDERID),\n\t\tPARTNERID = toInteger(PARTNERID),\n\t\tNETAMOUNT = toDecimal(NETAMOUNT),\n\t\tZPART_YEAR = year(toDate(CREATEDBY))) ~> dv01BikeSales\ndv01BikeSales sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tSALESORDERID as integer,\n\t\tCREATEDBY as string,\n\t\tCREATEDAT as string,\n\t\tCHANGEDBY as string,\n\t\tCHANGEDAT as string,\n\t\tFISCVARIANT as string,\n\t\tFISCALYEARPERIOD as string,\n\t\tNOTEID as string,\n\t\tPARTNERID as integer,\n\t\tSALESORG as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as decimal(10,2),\n\t\tTAXAMOUNT as string,\n\t\tLIFECYCLESTATUS as string,\n\t\tBILLINGSTATUS as string,\n\t\tDELIVERYSTATUS as string,\n\t\tZPART_YEAR as string\n\t),\n\tformat: 'parquet',\n\tumask: 0022,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('key',\n\t\t0,\n\t\tZPART_YEAR\n\t)) ~> snk01BikeSalesHeader"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PAR_BIKE_Sales_Header')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PAR_BIKE_Sales_Header')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cnn_datalake_quadabra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "datalake/raw/bike"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/bike/salesheader",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "SALESORDERID",
						"type": "INT32"
					},
					{
						"name": "CREATEDBY",
						"type": "UTF8"
					},
					{
						"name": "CREATEDAT",
						"type": "UTF8"
					},
					{
						"name": "CHANGEDBY",
						"type": "UTF8"
					},
					{
						"name": "CHANGEDAT",
						"type": "UTF8"
					},
					{
						"name": "FISCVARIANT",
						"type": "UTF8"
					},
					{
						"name": "FISCALYEARPERIOD",
						"type": "UTF8"
					},
					{
						"name": "NOTEID",
						"type": "UTF8"
					},
					{
						"name": "PARTNERID",
						"type": "INT32"
					},
					{
						"name": "SALESORG",
						"type": "UTF8"
					},
					{
						"name": "CURRENCY",
						"type": "UTF8"
					},
					{
						"name": "GROSSAMOUNT",
						"type": "UTF8"
					},
					{
						"name": "NETAMOUNT",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "TAXAMOUNT",
						"type": "UTF8"
					},
					{
						"name": "LIFECYCLESTATUS",
						"type": "UTF8"
					},
					{
						"name": "BILLINGSTATUS",
						"type": "UTF8"
					},
					{
						"name": "DELIVERYSTATUS",
						"type": "UTF8"
					},
					{
						"name": "ZPART_YEAR",
						"type": "UTF8"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FL - Bike Sales Item')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bike"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_BIKE_SalesItem",
								"type": "DatasetReference"
							},
							"name": "src01BikeSalesItem"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_PAR_BIKE_Sales_Item",
								"type": "DatasetReference"
							},
							"name": "snk01BikeSalesItem"
						}
					],
					"transformations": [
						{
							"name": "dv01BikeSales"
						}
					],
					"script": "source(output(\n\t\tSALESORDERID as integer,\n\t\tSALESORDERITEM as integer,\n\t\tPRODUCTID as string,\n\t\tNOTEID as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as decimal(10,0),\n\t\tTAXAMOUNT as decimal(10,0),\n\t\tITEMATPSTATUS as string,\n\t\tOPITEMPOS as string,\n\t\tQUANTITY as integer,\n\t\tQUANTITYUNIT as string,\n\t\tDELIVERYDATE as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> src01BikeSalesItem\nsrc01BikeSalesItem derive(ZPART_YEAR = 2020) ~> dv01BikeSales\ndv01BikeSales sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tumask: 0022,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> snk01BikeSalesItem"
				}
			},
			"dependsOn": []
		}
	]
}