adf-quadabra-dev/PartialArmTemplates/ArmTemplate_8_13_2021_21_28_27.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adf-quadabra-dev"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DS_PAR_BIKE_Sales')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cnn_datalake_quadabra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "datalake/raw/bike"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/bike/sales",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/TRF - Bike Sales')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "varTest",
							"value": "0"
						}
					},
					{
						"name": "FL - Bike Sales Join",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "FL - Bike Sales Join",
								"type": "DataFlowReference"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"variables": {
					"varTest": {
						"type": "String",
						"defaultValue": "a"
					}
				},
				"folder": {
					"name": "bike/load"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/FL - Bike Sales Join')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/FL - Bike Sales Item')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bike"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_CSV_BIKE_SalesItem",
								"type": "DatasetReference"
							},
							"name": "src01BikeSalesItem"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_PAR_BIKE_Sales_Item",
								"type": "DatasetReference"
							},
							"name": "snk01BikeSalesItem"
						}
					],
					"transformations": [
						{
							"name": "dv01BikeSales"
						}
					],
					"script": "source(output(\n\t\tSALESORDERID as integer,\n\t\tSALESORDERITEM as integer,\n\t\tPRODUCTID as string,\n\t\tNOTEID as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as decimal(10,0),\n\t\tTAXAMOUNT as decimal(10,0),\n\t\tITEMATPSTATUS as string,\n\t\tOPITEMPOS as string,\n\t\tQUANTITY as integer,\n\t\tQUANTITYUNIT as string,\n\t\tDELIVERYDATE as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> src01BikeSalesItem\nsrc01BikeSalesItem derive(ZPART_YEAR = 2020) ~> dv01BikeSales\ndv01BikeSales sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tSALESORDERID as integer,\n\t\tSALESORDERITEM as integer,\n\t\tPRODUCTID as string,\n\t\tNOTEID as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as decimal(10,0),\n\t\tTAXAMOUNT as decimal(10,0),\n\t\tITEMATPSTATUS as string,\n\t\tOPITEMPOS as string,\n\t\tQUANTITY as integer,\n\t\tQUANTITYUNIT as string,\n\t\tDELIVERYDATE as string,\n\t\tZPART_YEAR as integer\n\t),\n\tformat: 'parquet',\n\tumask: 0022,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> snk01BikeSalesItem"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PAR_BIKE_Sales_Item')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DS_PAR_BIKE_Sales_Item')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "cnn_datalake_quadabra",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "datalake/raw/bike"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "silver/bike/salesitem",
						"fileSystem": "raw"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "SALESORDERID",
						"type": "INT32"
					},
					{
						"name": "SALESORDERITEM",
						"type": "INT32"
					},
					{
						"name": "PRODUCTID",
						"type": "UTF8"
					},
					{
						"name": "NOTEID",
						"type": "UTF8"
					},
					{
						"name": "CURRENCY",
						"type": "UTF8"
					},
					{
						"name": "GROSSAMOUNT",
						"type": "UTF8"
					},
					{
						"name": "NETAMOUNT",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "TAXAMOUNT",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "ITEMATPSTATUS",
						"type": "UTF8"
					},
					{
						"name": "OPITEMPOS",
						"type": "UTF8"
					},
					{
						"name": "QUANTITY",
						"type": "INT32"
					},
					{
						"name": "QUANTITYUNIT",
						"type": "UTF8"
					},
					{
						"name": "DELIVERYDATE",
						"type": "UTF8"
					},
					{
						"name": "ZPART_YEAR",
						"type": "INT32"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/FL - Bike Sales Join')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "bike"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DS_PAR_BIKE_Sales_Header",
								"type": "DatasetReference"
							},
							"name": "src01SalesHeader"
						},
						{
							"dataset": {
								"referenceName": "DS_PAR_BIKE_Sales_Item",
								"type": "DatasetReference"
							},
							"name": "src02SalesItem"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "DS_PAR_BIKE_Sales",
								"type": "DatasetReference"
							},
							"name": "snk01Sales"
						}
					],
					"transformations": [
						{
							"name": "jn01Sales"
						},
						{
							"name": "sel01Sales"
						}
					],
					"script": "source(output(\n\t\tSALESORDERID as integer,\n\t\tCREATEDBY as string,\n\t\tCREATEDAT as string,\n\t\tCHANGEDBY as string,\n\t\tCHANGEDAT as string,\n\t\tFISCVARIANT as string,\n\t\tFISCALYEARPERIOD as string,\n\t\tNOTEID as string,\n\t\tPARTNERID as integer,\n\t\tSALESORG as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as decimal(10,2),\n\t\tTAXAMOUNT as string,\n\t\tLIFECYCLESTATUS as string,\n\t\tBILLINGSTATUS as string,\n\t\tDELIVERYSTATUS as string,\n\t\tZPART_YEAR as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet') ~> src01SalesHeader\nsource(output(\n\t\tSALESORDERID as integer,\n\t\tSALESORDERITEM as integer,\n\t\tPRODUCTID as string,\n\t\tNOTEID as string,\n\t\tCURRENCY as string,\n\t\tGROSSAMOUNT as string,\n\t\tNETAMOUNT as decimal(10,0),\n\t\tTAXAMOUNT as decimal(10,0),\n\t\tITEMATPSTATUS as string,\n\t\tOPITEMPOS as string,\n\t\tQUANTITY as integer,\n\t\tQUANTITYUNIT as string,\n\t\tDELIVERYDATE as string,\n\t\tZPART_YEAR as integer\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet') ~> src02SalesItem\nsrc01SalesHeader, src02SalesItem join(src01SalesHeader@SALESORDERID == src02SalesItem@SALESORDERID,\n\tjoinType:'inner',\n\tbroadcast: 'auto')~> jn01Sales\njn01Sales select(mapColumn(\n\t\tSALESORDERID = src01SalesHeader@SALESORDERID,\n\t\tCREATEDBY,\n\t\tFISCALYEARPERIOD,\n\t\tPARTNERID,\n\t\tCURRENCY = src01SalesHeader@CURRENCY,\n\t\tGROSSAMOUNT = src01SalesHeader@GROSSAMOUNT,\n\t\tNETAMOUNT = src01SalesHeader@NETAMOUNT,\n\t\tTAXAMOUNT = src01SalesHeader@TAXAMOUNT,\n\t\tBILLINGSTATUS,\n\t\tDELIVERYSTATUS,\n\t\tZPART_YEAR = src01SalesHeader@ZPART_YEAR,\n\t\tSALESORDERITEM,\n\t\tPRODUCTID,\n\t\tGROSSAMOUNT = src02SalesItem@GROSSAMOUNT,\n\t\tITEMNETAMOUNT = src02SalesItem@NETAMOUNT,\n\t\tITEMTAXAMOUNT = src02SalesItem@TAXAMOUNT,\n\t\tQUANTITY,\n\t\tQUANTITYUNIT,\n\t\tDELIVERYDATE\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sel01Sales\nsel01Sales sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\tumask: 0022,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tpartitionBy('key',\n\t\t0,\n\t\tZPART_YEAR\n\t)) ~> snk01Sales"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DS_PAR_BIKE_Sales_Item')]",
				"[concat(variables('factoryId'), '/datasets/DS_PAR_BIKE_Sales')]"
			]
		}
	]
}